.footer
    nav.fotNav
        ul.fotNav_ul
            li(class=nowPage): a(href='/') TOP
            li(class=nowPage): a(href='/about/') ABOUT
            li(class=nowPage): a(href='/illust/') ILLUST
            li(class=nowPage): a(href='/comic/') COMIC
            li(class=nowPage): a(href='/blog/') BLOG
.copyright &copy; 2011-2018 KAZENOSOUGEN