.footer
    nav.fotNav
        ul.fotNav_ul
            li(class=nowPage): a(href='/') TOP
            li(class=nowPage): a(href='/about/') ABOUT
            li(class=nowPage): a(href='/illust/') ILLUST
            li(class=nowPage): a(href='/comic/') COMIC
            li(class=nowPage): a(href='/blog/') BLOG
.copyright © 2015-2018 KAZENOSOUGEN All Rights Reserved.
    span このサイト上にある画像・文章の複製・転載はご遠慮ください。