.header.fixbar.clearfix
    .fixbar
        nav.headNav.clearfix
            ul.headNav_ul
                li(class=nowPage): a(href='/') TOP
                li(class=nowPage): a(href='/about/') ABOUT
        .logoinnr
            a(href='/'): img(src='/assets/img/logo.png', alt='風の草原').logo
        nav.headNav.clearfix
            ul.headNav_ul
                li(class=nowPage): a(href='/illust/') ILLUST
                li(class=nowPage): a(href='/comic/') COMIC
                li(class=nowPage): a(href='/blog/') BLOG
        #js_headNavButton.headNavButton
            span.menu-trigger
                span
                span
                span
        nav#js_spNav.spNav
            ul.spNav_ul
                li(class=nowPage): a(href='/') TOP
                li(class=nowPage): a(href='/about/') ABOUT
                li(class=nowPage): a(href='/illust/') ILLUST
                li(class=nowPage): a(href='/comic/') COMIC
                li(class=nowPage): a(href='/blog/') BLOG